<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	
	<title>Beepi</title>
	<link rel="stylesheet" href="assets/stylesheets/stylesheets.css">

<!-- 	<link rel="shortcut icon" href="img/">
	<link rel="apple-touch-icon" href="img/">
	<link rel="apple-touch-icon" sizes="76x76" href="img/">
	<link rel="apple-touch-icon" sizes="120x120" href="img/">
	<link rel="apple-touch-icon" sizes="152x152" href="img/"> -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<script src="assets/javascript/bundle.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>


	<!-- NAV -->

	<section class="navbar-fixed-top">

		<div class="nav-main">
			<div class="nav-container clearfix">
				<div class="nav-logo pull-left">
					<a><img src="img/beepi-logo.png"></a>
				</div>
				<div class="nav-mobile-button pull-right">
					<a class="nav-mobile-button-anchor" id="drop-nav-expand">
						<i class="fa fa-chevron-down"></i>
		      </a>
				</div>
				<div class="nav-items pull-right">
      		<a class="page-scroll" href="/#endMyLease">End My Lease</a>
      		<a class="page-scroll" href="/#myCarsValue">My Car's Value</a>
					<a class="page-scroll" href="/#whyBeepi">Why Beepi?</a>
					<a class="page-scroll" href="/#successStories">Success Stories</a>
				</div>
				<div id="navbar-line" class="endMyLease"></div>
			</div>
		</div>

		<div id="nav-dropdown">
		<div class="container">
			<div class="nav-dropdown-item clearfix">
				<a href="/#endMyLease" class="page-scroll nav-dropdown-label pull-left">
					End My Lease
				</a>
			</div>
			<div class="nav-dropdown-item clearfix">
				<a href="/#myCarsValue" class="page-scroll nav-dropdown-label pull-left">
					My Car's Value
				</a>
			</div>
			<div class="nav-dropdown-item clearfix">
				<a href="/#whyBeepi" class="page-scroll nav-dropdown-label pull-left">
					Why Beepi?
				</a>
			</div>
			<div class="nav-dropdown-item nav-dropdown-item-last clearfix">
				<a href="/#successStories" class="page-scroll nav-dropdown-label pull-left">
					Success Stories
				</a>
			</div>
		</div>
	</div>

</section>


	<!-- FLOATING BUTTONS -->

	<div class="floating-buttons">
		<p>Contact us</p>
		<img src="img/email.png">
		<p>lease@beepi.com</p>
		<img src="img/phone.png">
		<p>(800)XXX-XXXX</p>
	</div>


	<!-- TOP SECTION -->

	<section class="top-car-section" id="endMyLease">
		<div class="container">
			<h1>Turn your lease <span>into cash</span></h1>
			<p>Don't leave money on the table when you return your leased car to the dealer.<br> We can help you put cash in your pocket and avoid all the fees.</p>
		</div>
	</section>

	<section class="car-background">
		<div class="container">
			<div class="car-main-container">
				<img src="img/car-main.png">
			</div>
		</div>

		<div class="container sales-header">
			<h1><span>Real Cars, real cash.</span> Here are some examples of what you could get by ending your lease using Beepi.</h1>
		</div>

		<!-- SALES EXAMPLES -->

		<div class="sales-examples">
			<div class="container">
				<div class="sales-col col-sm-4">
					<div class="sales-container">
						<img src="img/fpo1.png">
						<p class="sales-car-info">
							2012 Toyota Corolla<br>
							17,300 miles<br>
							Car value: $9,466<br>
							Lease payoff: $8,216<br>
						</p>
						<p class="check">
							Check in hand: $1,250
						</p>
						<img src="img/check1.png">
					</div>
				</div>

				<div class="sales-col col-sm-4">
					<div class="sales-container">
						<img src="img/fpo1.png">
						<p class="sales-car-info">
							2012 Toyota Corolla<br>
							17,300 miles<br>
							Car value: $9,466<br>
							Lease payoff: $8,216<br>
						</p>
						<p class="check">
							Check in hand: $1,250
						</p>
						<img src="img/check1.png">
					</div>
				</div>

				<div class="sales-col col-sm-4">
					<div class="sales-container">
						<img src="img/fpo1.png">
						<p class="sales-car-info">
							2012 Toyota Corolla<br>
							17,300 miles<br>
							Car value: $9,466<br>
							Lease payoff: $8,216<br>
						</p>
						<p class="check">
							Check in hand: $1,250
						</p>
						<img src="img/check1.png">
					</div>
				</div>
			</div>
		</div>


	</section>

	<!-- WHY BEEPI HEADER -->

	<section class="why-beepi clearfix nav-hook" id="whyBeepi">
		<div class="container">
			<h1>Why Beepi? It's <span>simple.</span></h1>
			<p>We make getting more money for your car easy. It's the Beepi way:
			</p>
		</div>
	</section>


	<!-- WHY BEEPI STEPS DESKTOP -->

	<section class="why-beepi-mobile">
		<div class="container">

			<div class="why-steps-mobile clearfix">
				<img class="steps-img" src="img/why-img1.png" style="margin-bottom:10px;">
				<div class="steps-col pull-left clearfix">
					<img class="pull-left" src="img/phead1.png">
					<span class="pull-left">1</span>
				</div>
				<div class="txt-col pull-right>">
					<p>Our Beepi-certified inspectors come to you to determine the value of your car.</p>
				</div>
			</div>

			<div class="background-line-mobile">
				<div class="container back-line-left-mobile">
				</div>
			</div>

			<div class="why-steps-mobile clearfix">
				<img class="steps-img" src="img/why-img2.png" style="margin-bottom:10px;">
				<div class="steps-col pull-left clearfix">
					<img class="pull-left" src="img/phead2.png">
					<span class="pull-left">2</span>
				</div>
				<div class="txt-col pull-right>">
					<p>We work with your leasing company to take care of all the details.</p>
				</div>
			</div>		

			<div class="background-line-mobile">
				<div class="container back-line-left-mobile">
				</div>
			</div>	

			<div class="why-steps-mobile clearfix">
				<img class="steps-img" src="img/why-img3.png" style="margin-bottom:10px;">
				<div class="steps-col pull-left clearfix">
					<img class="pull-left" src="img/phead3.png">
					<span class="pull-left">3</span>
				</div>
				<div class="txt-col pull-right>">
					<p>Receive a check for your car with Beepi rather than paying return fees to the dealer.</p>
				</div>
			</div>	

			<div class="background-line-mobile" style="margin-top:1px;">
				<div class="container back-line-left-mobile">
				</div>
			</div>	
		
			<div class="why-steps-mobile clearfix">
				<img class="steps-img" src="img/why-img4.png" style="margin-bottom:10px;">
				<div class="steps-col pull-left clearfix">
					<img class="pull-left" src="img/phead4.png">
					<span class="pull-left">4</span>
				</div>
				<div class="txt-col pull-right>">
					<p>Receive a check for your car with Beepi rather than paying return fees to the dealer.</p>
				</div>
			</div>	

			<div class="background-line-mobile" style="margin-top:-30px;">
				<div class="container back-line-left-mobile">
				</div>
			</div>				

			<div class="why-steps-car-mobile clearfix">
				<div class="container">
						<p class="car-number-mobile">3</p>
						<img src="img/why-car.png">								
						<p>Go buy or lease your new dream car anywhere you want. (You know where to find us down the road.)</p>
				</div>
			</div>

		</div>
	</section>


	<!-- WHY BEEPI STEPS DESKTOP -->

	<section class="why-beepi-desktop">

	<div class="why-beepi-steps step-top-row clearfix">
		<div class="container">
			<div class="phead-col-left col-xs-4">
				<div class="phead-container">
					<img src="img/phead1.png">
					<span class="phead-number-left pull-right">1</span>
				</div>
				<div class="phead-txt pull-right">
					<p>Our Beepi-certified inspectors come to you to determine the value of your car.</p>
				</div>
			</div>
			<div class="img-col-right col-xs-8">
				<div class="img-container">
					<img src="img/why-img1.png">
				</div>
			</div>
		</div>
	</div>

	<div class="background-line">
		<div class="container back-line-left">
		</div>
	</div>

	<div class="why-beepi-steps step-row clearfix">
		<div class="container">
			<div class="img-col-left col-xs-8">
				<div class="img-container pull-right">
					<img src="img/why-img2.png">
				</div>
			</div>
			<div class="phead-col-right col-xs-4" style="margin-top:45px;">
				<div class="phead-container">
					<img src="img/phead2.png">
					<span class="phead-number-right pull-left">2</span>
				</div>
				<div class="phead-txt pull-left">
					<p>We work with your leasing company to take care of all the details.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="background-line" style="margin-top:-10px">
		<div class="container back-line-right">
		</div>
	</div>

	<div class="why-beepi-steps step-row clearfix">
		<div class="container">
			<div class="phead-col-left col-xs-4" style="margin-top:45px;">
				<div class="phead-container">
					<img src="img/phead3.png">
					<span class="phead-number-left pull-right" style="margin-top:38px">3</span>
				</div>
				<div class="phead-txt pull-right">
					<p>Receive a check for your car with Beepi rather than paying return fees to the dealer.</p>
				</div>
			</div>
			<div class="img-col-right col-xs-8">
				<div class="img-container">
					<img src="img/why-img3.png">
				</div>
			</div>
		</div>
	</div>

	<div class="background-line" style="margin-top:-10px">
		<div class="container back-line-left">
		</div>
	</div>

	<div class="why-beepi-steps step-row clearfix">
		<div class="container">
			<div class="img-col-left col-xs-8">
				<div class="img-container pull-right">
					<img src="img/why-img4.png">
				</div>
			</div>
			<div class="phead-col-right col-xs-4">
				<div class="phead-container" style="margin-top:45px">
					<img src="img/phead4.png" style="width:60px;">
					<span class="phead-number-right pull-left" style="margin-right:15px; margin-top:33px;">4</span>
				</div>
				<div class="phead-txt pull-left">
					<p>We work with your leasing company to take care of all the details.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="background-line" style="margin-top:-10px">
		<div class="container back-line-right">
		</div>
	</div>

	<div class="why-beepi-steps step-row-car clearfix">
		<div class="container">
			<div class="phead-col-left col-xs-4" style="margin-top:-60px;">
					<span class="phead-number-left" style="margin-top:79px; display:block">5</span>
					<p class="pull-right" style="max-width:260px; text-align:right">Go buy or lease your new dream car anywhere you want. (You know where to find us down the road.)</p>
			</div>
			<div class="img-col-right col-xs-8" style="margin-top:-40px;">
				<div class="img-container">
					<img src="img/why-car.png">
				</div>
			</div>
		</div>
	</div>

	</section>


	<!-- TESTIMONIALS HEADER -->

	<section class="testimonials-header clearfix nav-hook" id="successStories">
		<div class="container">
			<h1>Beepi is your better way to <span>return your leased car.</span></h1>
			<p>But don't just take our word for it.</p>
			</p>
		</div>
	</section>


	<!-- TESTIMONIALS MAIN -->

	<section class="testimonials-main">
		<div class="container">

			<div class="col-sm-6">
				<div class="test-container">
					<img src="img/leslie.png">
					<p class="name">Leslie</p>
					<p>
						2013 Lexus RX 350<br>
						25,200 Miles<br>
						Dallas, TX<br>
					</p>
					<p>
						Lease Payoff: $28,659<br>
						Car Value: $32,826<br>
						<span>Check in Hand: $4,167</span><br>
					</p>
					<p>
						“The customer service is very upbeat and friendly and they clearly want to make this simple and easy. I loved being able to contact them through twitter, chat or email whenever I needed to.”
					</p>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="test-container">
					<img src="img/tanner.png">
					<p class="name">Tanner</p>
					<p>
						2014 Toyot Corolla<br>
						17,300 Miles<br>
						Laguna Niguel, CA<br>
					</p>
					<p>
						Lease payoff: $17,216<br>
						Car value: $17,250<br>
						<span>Check in Hand: $3,400</span><br>
					</p>
					<p>
						“They made it so easy to get out of my lease. Great customer service and quick responses for email questions. I recommend this company for anyone trying to sell their car or lease and I will definitely sell my next car trough beepi.”
					</p>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="test-container">
					<img src="img/car-icon.png">
					<p class="name">John</p>
					<p>
						2013 Honda Civic<br>
						27,700 miles<br>
						Woodland, CA<br>
					</p>
					<p>
						Lease payoff: $11,733<br>
						Car value: $12,605<br>
						Check in hand: $872<br>
						<span>Check in Hand: $872</span><br>
					</p>
					<p>
						"The car sold & they paid off the leasing company & paid me the balance. When you lease a car you turn it back into the dealer and you get nothing. I will definitely use Beepi again in the future." 
					</p>
				</div>

			</div>
			<div class="col-sm-6">
				<div class="test-container">
					<img src="img/car-icon.png">
					<p class="name">Cameron</p>
					<p>
						2014 Mazda 3<br>
						138,000 miles<br>
						Los Angeles, CA<br>
					</p>
					<p>
						Lease payoff: $22,108
						Car value: $23,000
						<span>Check in Hand: $892</span><br>
					</p>
					<p>
						“I am in the process of moving to San Francisco and needed to get out of my lease. I had my car on Swaplease for a month and a half with no results. I shopped around at Carmax and Shift. Beepi beat them all.” 
					</p>
				</div>
			</div>
		</div>
	</section>


	<!-- FOOTER -->

	<section class="footer">
		<div class="container">
			<div class="col-sm-8">
				<p>Read more reviews from our happy lease customers on</p>
			</div>
			<div class="col-sm-4" style="padding-left:0px;">
				<img src="img/yelp.png">
			</div>
		</div>
	</section>


	<!-- CORYRIGHT -->

	<section class="copyright">
		<p>&#169;2016 Beepi, Inc.
	</section>


	<!-- VIEWPORT SECTION LISTENER -->

	<script>
		function isElementInViewport (el) {
	    if (typeof jQuery === "function" && el instanceof jQuery) {
	        el = el[0];
	    }

	    var rect = el.getBoundingClientRect();

	    return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) && /*or $(window).height() */
        rect.right <= (window.innerWidth || document.documentElement.clientWidth) /*or $(window).width() */
	    );
		}
		function onVisibilityChange(el, callback) {
	    var old_visible;
	    return function () {
        var visible = isElementInViewport(el);
        if (visible != old_visible) {
          old_visible = visible;
          if (typeof callback == 'function') {
            callback();
          }
        }
	    }
		}	
	</script>

</body>


</html>